---
import { Post } from '../lib/interfaces.ts'
import { getDateStr } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div class="post-date">
  {post.Date ? getDateStr(post.Date) : ''}
</div>

<style>
.post-date {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  min-width: 0;
  border-radius: 3px;
  padding: 2px 6px;
  line-height: 1.2;
  color: rgb(50, 48, 44);
  background: rgba(227, 226, 224, 0.5);
}
</style>
